@font-face {
    font-family: 'LatoRegular';
    src: url('../font/Lato-Reg-webfont.eot');
    src: url('../font/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Lato-Reg-webfont.woff') format('woff'),
         url('../font/Lato-Reg-webfont.ttf') format('truetype'),
         url('../font/Lato-Reg-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatoLight';
    src: url('../font/Lato-Lig-webfont.eot');
    src: url('../font/Lato-Lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Lato-Lig-webfont.woff') format('woff'),
         url('../font/Lato-Lig-webfont.ttf') format('truetype'),
         url('../font/Lato-Lig-webfont.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OtamaepRegular';
    src: url('../font/Otama-ep-webfont.eot');
    src: url('../font/Otama-ep-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Otama-ep-webfont.woff') format('woff'),
         url('../font/Otama-ep-webfont.ttf') format('truetype'),
         url('../font/Otama-ep-webfont.svg#OtamaepRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'DroidSerifRegular';
    src: url('../font/DroidSerif-Regular-webfont.eot');
    src: url('../font/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/DroidSerif-Regular-webfont.woff') format('woff'),
         url('../font/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('../font/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerifItalic';
    src: url('../font/DroidSerif-Italic-webfont.eot');
    src: url('../font/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/DroidSerif-Italic-webfont.woff') format('woff'),
         url('../font/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('../font/DroidSerif-Italic-webfont.svg#DroidSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'DroidSerifBoldItalic';
    src: url('../font/DroidSerif-BoldItalic-webfont.eot');
    src: url('../font/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/DroidSerif-BoldItalic-webfont.woff') format('woff'),
         url('../font/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('../font/DroidSerif-BoldItalic-webfont.svg#DroidSerifBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body{
	height:100%;
}
/*------------MENU-------------*/
.menu{
    background: url(../img/contentBg.png);
    border-bottom: 3px solid #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 99;
	padding-bottom: 10px;
    padding-top: 10px;
	display:none;	
}
.menu ul{
    left: 50%;
    margin-left: -330px;
    position: relative;
    width: 100%;
}
.menu ul li{
	display:inline;
	padding-right: 120px;
}
.menu ul li a{
	text-decoration:none;
	font-family:'LatoRegular';
	font-size: 14px;
	color:#FFFFFF;
}
.pane_show{
    background: url("../img/arrow-open.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    left: 50%;
    margin-left: 350px;
    padding-right: 40px;
    padding-top: 19px;
    position: fixed;
    top: 24px;
    z-index: 999;
}
.pane_hide{
    background: url("../img/arrow-close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    left: 50%;
    margin-left: 350px;
    padding-right: 40px;
    padding-top: 19px;
    position: fixed;
    top: 0px;
    z-index: 999;
}
/*----------PAGE 1-------------*/
#page1{
	position:relative;
	height:100%;
	overflow:hidden;
}
#page1 .logo{
	left: 50%;
    margin-left: -172.5px;
    margin-top: -80.5px;
    position: absolute;
    top: 50%;
}
/*----------PAGE 2-------------*/
#page2{
	background-image:url(../img/pattern.jpg);
	height:100%;
	position:relative;
}
#page2 .txt-center{
    color: #7394B7;
    left: 50%;
    margin-left: -213.5px;
    margin-top: -207.5px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 427px;
}
#page2 .txt1{
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-size: 3.8em;
    font-family: 'LatoLight';
	display:inline;	
}
#page2 .txt2{
	border-bottom: 1px solid;
	font-family: 'LatoRegular';
    font-size: 7.2em;
    font-weight: bold;
	margin-top: 10px;
}
#page2 .txt3{
	border-top: 1px solid;
    font-size: 2.5em;
    font-family: 'LatoLight';
    margin-top: 5px;
}
#page2 .txt4{
	font-size: 1.4em;
    font-family: 'LatoLight';
}
#page2 .txt5{
	font-size: 3em;
    font-family: 'LatoLight';
}
#page2 .liner{
	position: relative;
    top: -20px;
	font-size: 31px;
	font-family: 'LatoLight';
}
#page2 .txt6{
    font-family: 'Abril Fatface','OtamaepRegular';
    font-size: 3.6em;
	position: relative;
    top: -15px;
}
/*----------PAGE 3-------------*/
#page3{
	position:relative;
	height:100%;
	overflow:hidden;
}
#page3 .transparent-white{
	background-color: #FFFFFF;
    height: 277px;
    margin-top: -138.5px;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    width: 100%;
	filter:alpha(opacity=40); /* For IE8 */
}
#page3 .txt-center{
    color: #000000;
    left: 50%;
    margin-left: -347.5px;
    margin-top: -85px;
    max-width: 800px;
    position: absolute;
    text-align: center;
    top: 50%;
}
#page3 .txt1{
    font-size: 1.4em;
	margin-bottom: 8px;
	font-family: 'LatoRegular';	
}
#page3 .txt2{
	border-bottom: 1px solid;
    border-top: 1px solid;
	font-family: 'Abril Fatface','OtamaepRegular';
	font-size: 2.5em;
	padding-bottom: 8px;
}
#page3 .txt3{
	font-family: 'LatoRegular';
	font-size: 1.1em;
	margin-bottom: 2px;
    margin-top: 8px;
}
#page3 .txt4{
	font-family: 'Abril Fatface','OtamaepRegular';
	font-size: 1.8em;
}
/*----------PAGE 4-------------*/
#page4{
	background-image:url(../img/trama.jpg);
	position:relative;
	height:100%;
}
#page4 .txt-center{
	color: #7394B7;
    left: 50%;
    margin-left: -211.5px;
    margin-top: -135.5px;
    position: absolute;
    text-align: center;
    top: 50%;
}
#page4 .txt1{
    font-size: 2.3em;
    font-family: 'LatoLight';
	margin-bottom: 8px;	
}
#page4 .txt2{
	font-family: 'LatoRegular';
    font-size: 1.4em;
    font-weight: bold;
	margin-bottom: 8px;
}
#page4 .txt3{
    font-family: 'LatoLight';
    font-size: 2.2em;
    margin-bottom: 4px;
    margin-top: -30px;
}
#page4 .txt4{
    font-size: 3.6em;
    font-family: 'LatoLight';
}
#page4 .txt5{
    font-size: 2.7em;
    font-family: 'LatoLight';
    margin-bottom: -15px;
}
#page4 .liner{
	position: relative;
    top: -20px;
	font-size: 0.8em;
	font-family: 'LatoLight';
}
#page4 .txt6{
    font-family: 'Abril Fatface','OtamaepRegular';
    font-size: 3.5em;
}
/*-----------PROYECTS---------------*/
#proyects{
	background-image:url(../img/pattern.jpg);
	overflow:hidden;	
}
#proyects .logo2{
	position:relative;
	left:50%;
	margin-left:-93px;
	margin-bottom: 15px;
    margin-top: 40px;
}
#proyects .liner{
	color: #7394B7;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: -20px;
}
#proyects .proyectos{
	text-align:center;
	font-family:'LatoRegular';
	color:#7394B7;
	padding-bottom: 40px;
}

/*------------------------PROYECTOS DIV 1-------------------------*/
#proyects .images1{
    left: 50%;
    margin-left: -400px;
    position: relative;
    width: 800px;
}

#proyects .images1 .img1{float: right; width: 530px; margin-bottom: 14px;}
#proyects .images1 .img3{float: left;  width: 255px; margin-right: 15px; margin-bottom: 14px;}
#proyects .images1 .img4{float: right; width: 260px; margin-bottom: 15px;}
#proyects .images1 .img5{float: right; width: 260px;}
#proyects .images1 .img6{left: 0; position: absolute; top: 407px; width: 255px;}

#proyects .images1 .img-text-left-2{
    border-bottom: 1px solid #7394B7;
    border-top: 1px solid #7394B7;
    color: #7394B7;
    height: 390px;
    float:left;
    text-align: left;
    top: 454px;
    width: 254px;
	margin-right: 15px;
}
#proyects .images1 .img-text-left-2 .comillas{
    margin-bottom: 15px;
    margin-top: 15px;
}
#proyects .images1 .img-text-left-2 .txt1{
    font-family: 'Abril Fatface','OtamaepRegular';
    font-size: 30px;
	margin-top: -10px;
}
#proyects .images1 .img-text-left-2 .txt2{
    font-family: 'DroidSerifItalic';
    font-size: 13px;
	margin-bottom: 15px;
	line-height: 17px;
}

#proyects .images1 .img-text-right{
	border-bottom: 1px solid #7394B7;
    border-top: 1px solid #7394B7;
    color: #7394B7;
    float: right;
    height: 158px;
    margin-right: 15px;
    text-align: right;
    width: 256px;
}
#proyects .images1 .img-text-right .comillas{
    margin-bottom: 15px;
    margin-top: 15px;
}
#proyects .images1 .img-text-right .txt1{
    font-family: 'DroidSerifItalic';
    font-weight: bold;
	margin-bottom: 12px;
	font-size: 14px;
}
#proyects .images1 .img-text-right .txt2{
    font-family: 'DroidSerifRegular';
    font-size: 11px;
}

/*------------------------PROYECTOS DIV 2-------------------------*/
#proyects .images2{
    left: 50%;
    margin-left: -400px;
    position: relative;
    width: 800px;
}
#proyects .images2 .img1{float: left; width: 525px;}
#proyects .images2 .img2{float: right; width: 256px;}

#proyects .images2 .img-text-right{
	border-bottom: 1px solid #7394B7;
    border-top: 1px solid #7394B7;
    color: #7394B7;
    float: right;
    height: 121px;
    text-align: right;
    width: 256px;
	margin-bottom: 14px;
}
#proyects .images2 .img-text-right .comillas{
    margin-bottom: 10px;
    margin-top: 10px;
}
#proyects .images2 .img-text-right .txt1{
    font-family: 'DroidSerifBoldItalic';
	margin-bottom: 12px;
	font-size: 14px;
}
#proyects .images2 .img-text-right .txt2{
    font-family: 'DroidSerifRegular';
    font-size: 11px;
}

/*------------------------PROYECTOS DIV 3-------------------------*/
#proyects .images3{
    left: 50%;
    margin-left: -400px;
    position: relative;
    width: 800px;
}
#proyects .images3 .img-text-left{
    border-bottom: 1px solid #7394B7;
    border-top: 1px solid #7394B7;
    color: #7394B7;
    float: left;
    height: 172px;
    text-align: left;
    width: 240px;
}
#proyects .images3 .img-text-left .comillas{
    margin-bottom: 10px;
    margin-top: 10px;
}
#proyects .images3 .img-text-left .txt1{
    font-family: 'Abril Fatface','OtamaepRegular';
    font-size: 30px;
	margin-top: -10px;
}
#proyects .images3 .img-text-left .txt2{
    font-family: 'DroidSerifItalic';
    font-size: 12px;
	margin-bottom: 10px;
}
#proyects .images3 .img-text-left .txt3{
    font-family: 'DroidSerifRegular';
    font-size: 11px;
}
#proyects .images3 .img-text-right{
    border-bottom: 1px solid #7394B7;
    border-top: 1px solid #7394B7;
    color: #7394B7;
    float: right;
    height: 216px;
    text-align: left;
    width: 259px;
}
#proyects .images3 .img-text-right .comillas{
    margin-bottom: 20px;
    margin-top: 20px;
}
#proyects .images3 .img-text-right .txt1{
    font-family: 'Abril Fatface','OtamaepRegular';
    font-size: 30px;
	margin-top: -10px;
}
#proyects .images3 .img-text-right .txt2{
    font-family: 'DroidSerifItalic';
    font-size: 12px;
	margin-bottom: 10px;
}
#proyects .images3 .img-text-right .txt3{
    font-family: 'DroidSerifRegular';
    font-size: 11px;
}
#proyects .images3 .img1{float: right; width: 540px; margin-bottom: 15px;}
#proyects .images3 .img2{float: left; margin-bottom: 14px; width: 245px; margin-top: 15px; margin-right: 15px;}
#proyects .images3 .img3{float: left; width: 264px; margin-bottom: 14px;}
#proyects .images3 .img4{float: right; width: 260px; margin-bottom: 15px;}
#proyects .images3 .img5{float: left; width: 522px;margin-bottom: 15px;}
#proyects .images3 .img6{float: left; margin-bottom: 90px; width: 800px;}

.clear{clear:both; padding-bottom: 7px; padding-top: 7px;}

/*-----------FOOTER---------------*/
#footer{
	background-color:#7394B7;
}
#footer .txt-center{
    color: #FFFFFF;
    font-family: 'LatoLight';
    padding-bottom: 3%;
    padding-top: 3%;
	text-align: center;
}
#footer .txt1{
    font-size: 42px;
    margin-bottom: 20px;
}
#footer .liner{
	position: relative;
    top: -20px;
	font-size: 35px;
}
#footer .mail{
	color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
}
#footer .txt2{
	display: block;
	margin-bottom: 15px;
    margin-top: 5px;
}

/*---------------DISPLAYS NONES------------------*/
/*#page1{display:none;}
#page2{display:none;}
#page3{display:none;}
#page4{display:none;}
#proyects{display:none;}
#footer{display:none;}*/